#navbar{
background-color: rgb(113, 123, 132); 
display: flex;   
align-items: center;
justify-content: space-between;
padding: 20px;
}

body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul
{
list-style: none;
display: flex;
gap: 90px;
margin-right: 550px; 
}

a
{
    text-decoration: none;
    color: black;
}

#mainGrid
{
display: grid;
grid-template-columns: auto auto auto;
}

.griditem
{
    border: 2px groove black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    color: black;
    border-radius: 10%;

}

.griditem button
{
font-size: 15px;
background-color: black;
color: white;
border-radius: 40px;
padding: 10px;
}

.griditem button:hover{
background-color: white;
color:black

}

.gridImage:hover{
width: 250px;

}

