#navbar{
background-color: rgb(113, 123, 132); 
display: flex;   
align-items: center;
justify-content: space-between;
padding: 20px;
}

body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul
{
list-style: none;
display: flex;
gap: 90px;
margin-right: 550px; 
}

a
{
    text-decoration: none;
    color: black;
}

#mainGrid
{
display: grid;
grid-template-columns: auto auto auto;
}

.griditem
{
    border: 2px groove black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    color: black;
    border-radius: 10%;

}

.griditem button
{
font-size: 15px;
background-color: black;
color: white;
border-radius: 40px;
padding: 10px;
}

.griditem button:hover{
background-color: white;
color:black

}

.gridImage:hover{
width: 250px;

}

@media (max-width:500px) {


#mainGrid
{
    grid-template-columns: auto auto;
}

ul {
    gap:20px;
    margin-left: 7%;
}

a {
    font-size: 12px;
}

.gridItem button
{
    font-size: 12px;
}

.gridImage
{
    width: 150px;
}

.griditem h2{
font-size: 20px;
margin: 10px;
}

.griditem p
{
    font-size: 13px;
}

#navbar ul 
{

    margin-right: 80px;
}


}

@media (min-width:500px) and (max-width:1024px)
{

ul {
    gap:40px;
    margin-left: 25%;
}

.gridImage
{
    width: 170px;
}

.griditem h2{
font-size: 25px;
margin: 10px;
}

.griditem p
{
font-size: 13px;
margin-top: 20px;
margin-bottom: 20px;
}


}

#footer
{
    background-color: gray;
    position:fixed;
    bottom: 0;
    width: 100%;
}

#verticalcontent
{
    background-color: lightblue;
    height: 230px;
    text-align: center;
    font-size: 40px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}