#nav{
    background-color: aqua;
    width: 100%;
    height: 100%;
    grid-area: nav;
}

#menu{
    background-color: rgb(255, 102, 0);
    width: 100%;
    height: 100%;
    grid-area: menu;
}

#main{
    background-color: rgb(0, 255, 89);
    width: 100%;
    height: 600px;
    grid-area: main;
}

#footer{
    background-color: rgb(255, 0, 179);
    width: 100%;
    height: 100%;
    grid-area: footer;
}

#mainGrid
{
    display: grid;
    grid-template-areas:"nav nav nav"
    "menu main main"
    "menu footer footer" ;
}